@value variables: '../../../variables.css';
@value button-1, font-color-2 from variables;

h1 {
  line-height: 2rem;
  font-size: 1.4rem;;
}

.other-links {
  overflow: hidden;
  margin: 30px 0 20px 0;
}
.other-links span {
  float: left;
}

.other-links ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.other-links ul li {
  float: left;
  padding: 0 10px 0 30px;
  cursor: pointer;
}

.card-panel {
  width: 100%;
}

.card {
  border: solid 0.01rem  rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  margin-top: 0.5rem;
  cursor: pointer;
  width: 70%;
}

.card-selected {
  background-color: #f0f0f0;
}

@media only screen and (max-width: 600px) { 
  .card-panel {
      width: 100%;
  }
  .card {
    width: 100%;
  }
}

.card-header {
    margin: 0.5rem 0.5rem 0 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-basis: 50%;
}

.card-header-col1 {
  text-align: left;
}

.card-header-col2 {
  text-align: right;
}

.separator-line {
  width: 95%;
  color: gray;
}

.card-detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin: 0.7rem;
    padding-right: 10px;
    padding-left: 10px;
}
  
.card-detail > div {
  flex-basis: 50%;
}

.card-detail-col1 {
  margin-left: 10px;
}

.card-detail-col2 {
  text-align: right;
}
