@value variables: '../variables.css';
@value site-bg, menu-bg, font-color-1 from variables;

.main {
    padding: 24px;
}

.container {
    width: 70%;
    margin: 0 auto;
}

.content {
    background-color: site-bg;
    padding: 20px;
}

.banner {
    height: 60px;
    color: font-color-1;
    background-color: menu-bg;
    display: flex;
    align-content: flex-start;
    align-items: center;
    font-family: 'sans-serif';
    font-weight: bold;
    font-size: 1.3rem;
    padding-left: 15px;
}

@media only screen and (max-width: 600px) { 
    .container {
        width: 100%;
    }
}